.msg-item {
  display: flex;
  padding-right: 2%;
  padding-left: 2%;
}

.msg-item + .msg-item {
  margin-top: 8px;
}

.msg-item__specific {
  max-width: 68%;
  border-radius: 14px;
  padding-right: 8px;
  border: 2px solid;
}

.msg-item__whose_my {
  margin-left: auto;
  border-color: var(--aw-msg-border-my);
}

.msg-item__whose_not-mine {
  border-color: var(--aw-msg-border-alien);
}
