.content > .site-layout-content {
  display: none;
  border-radius: 40px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
}

.sub__input-from {
  display: flex;
  flex-direction: column;
}

.sub__input-from > label {
  padding-bottom: 8px;
}

.sub__input-from > input {
  border: 2px solid #d9d9d9;
  background-color: #f0f8ff;
  border-radius: 40px;
  font-size: 14px;
}
.sub__input-from > input:focus {
  border: 2px solid #1890ff;
}

.sub__checkbox .ant-checkbox-inner {
  width: 24px;
  height: 24px;
  border-radius: 40px;
  background-color: #f0f8ff;
}
.sub__checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #1890ff;
}
.sub__checkbox .ant-checkbox-inner:after {
  left: 30%;
}

.sub__checkbox button {
  padding-left: 8px;
}

.dialog-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}

.dialog-exit {
  opacity: 1;
  transform: scale(1);
}

.dialog-exit-active {
  opacity: 0.01;
  transform: scale(1.1);
  transition: all 300ms;
}